<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Formulário de Paciente</title>
  <link rel="stylesheet" href="/static/formulário.css">
</head>
<body>
  <div class="wrapper">
    <div class="background-box"></div> 
    <div class="container">
      <a href="http://localhost:8000" class="back-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 24 24">
          <path d="M15.41 7.41 14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
        </svg>
      </a>
      <h2>Formulário de Paciente</h2>
      <form action="http://localhost:8000/receber-dados" method="post">

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required />

        <label for="cpf">Digite seu CPF:</label>
        <input type="number" id="cpf" name="cpf" placeholder="xxxxxxxxxxx" />

        <label for="genero">Gênero:</label>
        <select id="genero" name="genero" required>
          <option value="">Selecione</option>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
        </select>

        <label for="histfam">Histórico de esquizofrenia na família:</label>
        <select id="histfam" name="histfam" required>
          <option value="">Selecione</option>
          <option value="sim">Sim</option>
          <option value="não">Não</option>
        </select>

        <label for="histsuic">Histórico de tentativa de suicídio:</label>
        <select id="histsuic" name="histsuic" required>
          <option value="">Selecione</option>
          <option value="sim">Sim</option>
          <option value="não">Não</option>
        </select>

        <label for="scorepos">Score de Sintomas Positivo (de 0 - 1):</label>
        <input
          type="number"
          id="scorepos"
          name="scorepos"
          step="any"
          min="0"
          max="1"
          required
        />

        <button type="submit">Enviar</button>
      </form>
      <div id="resultado" class="resultado"></div>
    </div>
  </div>

  <script>
    const form = document.getElementById("formPaciente");
    const resultado = document.getElementById("resultado");

    form.addEventListener("submit", function (e) {
      e.preventDefault(); // impede envio real para simular
      const score = parseFloat(document.getElementById("scorepos").value);
      const histFam = document.getElementById("histfam").value;
      const histSuic = document.getElementById("histsuic").value;

      let chance = 0;

      if (!isNaN(score)) {
        chance += score * 100;
      }

      if (histFam === "sim") chance += 15;
      if (histSuic === "sim") chance += 10;

      if (chance > 100) chance = 100;

      resultado.textContent = `Percentual de chance de ter esquizofrenia: ${chance.toFixed(
        1
      )}%`;
    });
  </script>

</body>
</html>
